<head>
  <link rel="shortcut icon" href="img/icon.jpg" type="image/x-icon">
  <meta name="google-site-verification" content="KRzCr5H86LGpuqVJ5t0Zavn3gIP6_2iTQdTQ3OB9XO4" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="title" property="og:title" content="Rohit Lal | Computer Vision and Machine Learning">
  <meta name="image" property="og:image" content="http://take2rohit.github.io/img/meta_img.jpg">
  <meta name="description" property="og:description"
    content="Graduate student researcher at University of California, Riverside (UCR), specializing in Computer Vision, with Research Focus on Unsupervised Learning methodologies">
  <meta property='og:url' content='https://rohitlal.net' />
  <meta property="og:type" content="Website">
  <meta property='og:site_name' content='My Portfolio Website' />
  <meta name="author" content="Rohit Lal">

  <title>{{ site.data.aboutme.Name }} | AI and CV</title>

  <!-- Custom fonts for this theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>