
<section class="page-section text-secondary" id="recent-news">
    <!-- ############################# News/achievement Section ##################################-->

    <div class="container mb-5">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">RECENT NEWS</h2>
            <!-- Icon Divider -->
            <div class="divider-custom divider">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-newspaper"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <ul>
                {% for item in site.data.news %}
                <li>
                    <p>
                        <b>[{{ item.date }}]</b> {{ item.description | markdownify | replace: '</p>', '' | replace: '<p>', '' }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>